spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5432/auth_service
    username: postgres
    password: yuruojie
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
server:
  port: 9000
  servlet:
    context-path: /api
auth:
  jwt:
    secret: "asdafsfgagalfkjalkghasdkjlfhajskdfhlaskjdhfa"
    access-token-validity-seconds: 3600
